.sidenav {
    margin-top:10vh;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c9c9fb;
    overflow-x:hidden;
  }
  .sidenavul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .sidenavli {
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 1px solid;
  }
  .sidenavli:hover {
    background-color: #a9a9f3;
  }
  